hi<center><div class="fontuser">Hi <%=full_name%>. Please type in a username.</div><br><br>
<form method="post" action="create_g_username">
<input type="text" name="username" placeholder="username">
<div class='credentials'><%=message1%><br><%=message2%></div>
<input type="submit" value="Create Username">
<p><a href="/">Go Back</a></p>
</form></center><br></div>