<<<<<<< HEAD
<center><div class='font'>Create Account</div<br><form method='post' action='created'>
=======
<center><div class='font'>Create Account</div><br><form method='post' action='created'>
>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
	<input type='text' name='full_name' placeholder='Full Name' required><br><br>
	<input type='text' name='username' placeholder='Username' required><br><br>
	<input type='password' name='password' placeholder="password" required><br>
	<input type='password' name='password2' placeholder="Re-Enter Password" required><br>
	<p class='credentials'><%=message1%><br><%=message2%></p>
<<<<<<< HEAD
	<input type='submit' value='Create Account'><br><br>
	<p><a href="/">Go Back</a></p>
</form></center>
=======
	<input type='submit' value='Create Account'>
</form></center>


>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
