<center><div class='font'>Create Account</div><br><form method='post' action='created'>
	<input type='text' name='full_name' placeholder='Full Name' required><br><br>
	<input type='text' name='username' placeholder='Username' required><br><br>
	<input type='password' name='password' placeholder="password" required><br>
	<input type='password' name='password2' placeholder="Re-Enter Passowrd" required><br>
	<p class='credentials'><%=message1%><br><%=message2%></p>
	<input type='submit' value='Create Account'>
</form></center>


