<form method='post' action='created'>
	<input type='text' name='full_name' placeholder='Full Name'><br>
	<input type='text' name='username' placeholder='Username'><br>
	<input type='password' name='password' placeholder="password"><br>
	<input type='submit' value='Create Account'>
</form>