<div style="background-color: #66C3AD"><br>
<div class="layout">
<center><div class='font'>Reset Password</div><br>

<form method='post' action='/send_reset_email'>
	<input type='text' name='username' placeholder='Username' required><br><br>
	<input type='text' name='email' placeholder="Email" required><br><br>
	<input type='submit' value='Reset Password'><br><br>
</form>
<p><%=message1%></p>
	<p><a href="/">Go Back</a></p>
</center>
<br>
</div>