<div style="background-color: #66C3AD"><br>
<div class="layout">
<center><div class='font'>Reset Password</div><br>

<form method='post' action='new_password'>
	<input type='text' name='username' placeholder='Username' required><br><br>
	<input type='password' name='new_password' placeholder="Enter New Password" required><br>
	<input type='password' name='new_password2' placeholder="Re-Enter New Password" required><br><%=message1%><br><%=message2%><br>
	<input type='submit' value='Reset Password'><br><br>
</form>
	<p><a href="/">Go Back</a></p>
</center>
<br>
</div>