<form method='post' action='login'>
Have an account?
<input type='submit' value='Log In'>
</form>
<p>OR</p>

<p>
<form method='post' action='facebook'>
	<input type='submit' value='Continue with Facebook'>
</form>
<p>OR</p>

<form method='post' action='google'>
	<input type='submit' value='Sign up with Google'>
</form>
<p>OR</p>

<form method='post' action='create_account'>
	<input type='submit' value='Create Account'>
</form>

