<form method='post' action='login'>
Have an account?
<input type='submit' value='Log In'>
</form>
<p>OR</p>

<p>
<form method='post' action='facebook'>
	<input type='submit' value='Continue with Facebook'>
</form>
<p>OR</p>

<form method='post' action='google'>
	Sign up with Google<p>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="182370847863-48of9fa5cjevk9fqrd5jta7vredjr16e.apps.googleusercontent.com">
	<div class="g-signin2" data-onsuccess="onSignIn"></div> 
</form>
<p>OR</p>

<form method='post' action='create_account'>
	<input type='submit' value='Create Account'>
</form>

