<!DOCTYPE html>
<div style="background-color: #66C3AD"><br>
<center><form method='post' action='login'>
Have an account?
<input type='submit' value='Log In'>
</form>
<br><p>OR</p>


 <!-- facebook info below -->

<p>
</p>
<meta charset="UTF-8">
<img class="center" src="/images/facebooklogin_360.png" style="cursor:pointer;height:40px;width:138px" onclick="FBLogin()"/>
<br>
<a href="/" onclick="FB.logout();">Sign Out</a>

  <!-- end of facebook info -->


<br><p>OR</p>

<meta charset="UTF-8">
<img src="/images/google_480.png" style="cursor:pointer;height:41px;width:141px;align:center" onclick="googleLogin()" id="customBtn" class="customGPlusSignIn"/>
<br>
<a href="#" onclick="signOut();">Sign Out</a>
 

</form>
<br><p>OR</p>

<form method='post' action='create_account'>
  <input type='submit' value='Create Account'>
</form></center>
<br>
</div>