<!DOCTYPE html>
<div style="background-color: #66C3AD"><br>
<center><form method='post' action='login'>
Have an account?
<input type='submit' value='Log In'>
</form>
<br><p>OR</p>


 <!-- facebook info below -->

<p>
</p>
<meta charset="UTF-8">
<img class="center" src="/images/facebooklogin_360.png" style="cursor:pointer;height:40px;width:138px" onclick="FBLogin()"/>
<br>
<a href="/" onclick="FB.logout();">Sign Out</a>

  <!-- end of facebook info -->

<br><p>OR</p>

<!-- <meta charset="UTF-8"> -->
<!-- <img src="/images/google.png" style="cursor:pointer;height:37px;width:120px;align:center;" id="customBtn" class="customGPlusSignIn"/>

<br> -->
<!-- Custom Google Button -->
<div class="social-login">
          <button type="button" name="button" id="customBtn" class="google-login">Log in with Google</button>
        </div>

	<a href="/" onclick="signOut();">Sign Out</a>
 <script>	
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  </script>
  <script src="/js/google.js"></script>
<!-- End of Custom Google Button -->

 

</form>
<br><p>OR</p>

<form method='post' action='create_account'>
  <input type='submit' value='Create Account'>
</form></center>
<br>
</div>