<<<<<<< HEAD
=======

>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
<center><form method='post' action='login'>
Have an account?
<input type='submit' value='Log In'>
</form>
<br><p>OR</p>

<p>
<form method='post' action='message_home'><p>
	<div id="fb-root"></div>
<<<<<<< HEAD
<script>(function(d, s, id) { 
=======
<script>(function(d, s, id) {
>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=416104722094334";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div><br>
<<<<<<< HEAD
	  
	  <a href="/" onclick="FB.logout();">Sign Out</a>
</form>
<br><p>OR</p>

<form method='post' action='message_home'>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="182370847863-48of9fa5cjevk9fqrd5jta7vredjr16e.apps.googleusercontent.com">
	<div class="g-signin2" data-onsuccess="onSignIn"></div>

	<a href="#" onclick="signOut();">Sign Out</a>
 <script>
=======

      <a href="/" onclick="FB.logout();">Sign out</a>

</form>
<br><p>OR</p>


<form method='post' action='message_home'>
	Continue with Google<p>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="182370847863-48of9fa5cjevk9fqrd5jta7vredjr16e.apps.googleusercontent.com">
	<div class="g-signin2" data-onsuccess="onSignIn"></div> 

	<a href="#" onclick="signOut();">Sign out</a>
<script>
>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
//   function onSignIn(googleUser) {
//   var profile = googleUser.getBasicProfile();
<<<<<<< HEAD
//   console.log('ID: ' + profile.getId()); //
=======
//   console.log('ID: ' + profile.getId()); // 
>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
//   console.log('Name: ' + profile.getName());
//   console.log('Image URL: ' + profile.getImageUrl());
//   console.log('Email: ' + profile.getEmail());
// }
</script>

</form>
<br><p>OR</p>
<<<<<<< HEAD

<form method='post' action='create_account'>
	<input type='submit' value='Create Account'>
</form></center>
=======


<form method='post' action='create_account'>
	<input type='submit' value='Create Account'>
</form></center>

>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
