<<<<<<< HEAD
<!-- <html class= "background">
=======
<!-- <html class="background">
>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
<head>

<link href ='css/style.css' rel='stylesheet'>
</head>

<%=yield%>
</html> -->

<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
    	<link href="/css/bootstrap.min.css" rel="stylesheet">

		<link href ='css/styles.css' rel='stylesheet'>
		</head>

<header class>
	<div class="container" class="logo">
		<img src="http://www.minedminds.org/images/MM.jpg">
		<center>Mined Minds Messaging</center> 
	</div>
<hr class="hr">
</header>

<%=yield%>

=======


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

	<link href ='css/styles.css' rel='stylesheet'>
	</head>

<header class>
	<div class="container" class="logo">
		<img src="http://www.minedminds.org/images/MM.jpg">	
		<center>Mined Minds Messaging</center>
	</div>
<hr class="hr">
</header>
	
<%=yield%>
    
>>>>>>> ff8d3085d425a3328687b7aeeb3d4ee273b3bc54
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>