<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
    	<link href="/css/bootstrap.min.css" rel="stylesheet">

		<link href ='css/styles.css' rel='stylesheet'>
		</head>

<header class>
	<div class="container" class="logo">
		<img src="http://www.minedminds.org/images/MM.jpg">
		<div align="right">
			<iframe src="http://free.timeanddate.com/clock/i5p01v5d/n418/fn12/fs16/fc03255b/ftb/bas2/bac03255b/pa4/tt0/tw1/tm1/td1/ts1/ta1/tb4" frameborder="0" width="180" height="44"></iframe>
		</div>
		<center>Mined Minds Messaging</center>
	</div>
<hr class="hr">
</header>
	<body>

<%=yield%>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="js/facebook.js"></script>
   <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="182370847863-48of9fa5cjevk9fqrd5jta7vredjr16e.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
 <script src="https://apis.google.com/js/api:client.js"></script>
 <script src="/js/google.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
 </body>
</html>