<center><div class='font'>Log In</div><br><form method='post' action='message'>
<input type='text' name='username' placeholder="username"><br><br>
<input type='password' name='password' placeholder="password"><br><br>
<input type='submit' value='Log In'>
</form></center>
