<center><div class='font'>Log In</div><br><form method='post' action='check_login'>
<input type='text' name='username' placeholder="username"><br><br>
<input type='password' name='password' placeholder="password"><br><br>
<p class='credentials'><%=message%><p>
<input type='submit' value='Log In'><br><br>
<p><a href="/">Go Back</a></p>
</form></center>