<div class="layout">
<form action="home" method="post">
<input type="submit" value="Mined Minds Home Page">
</form>
<div class="account">Welcome <%=username%><br>
<form action='settings' method='post'>
<input type="submit" value="Account Settings"></div>
</form>
<p style="margin-top:-3%">
<form action="/addfriend" method="post">
	<input type="hidden" name="username" value=<%=username%>>
	<input type="text" name="friend_name" placeholder="Add Friend">
	<input type='submit'><p class='credentials'><%=message1%></p>
</form><br><br>

<form action='/send_message' method='post'>
To: <input type='text' name='friendname' placeholder='Search...'><br>
<p class='message triangle-isosceles'>
</p>
<input type='text' name='message' placeholder="message">
<input type='submit' value='Send'>
</form><br>

<table style="margin-right:0px;margin-left:auto;" class='table' border='1'>
	<thread>
		<tr>
			<th>Your Friends</th>
		</tr>
	</thread>
	<tbody>
		<%friends.each do |friend|%>
		<tr>
			<td><%=friend["friends"]%></td>
		</tr>
		<%end%>
	</tbody>
</table>
</p>
</div>

