<div class="layout">
<form action="/" method="post">
<input type="submit" value="Mined Minds Home Page">
</form>
<form action='/send_message' method='post'>
<center>
<input type="text" name="friend" placeholder="Start Messaging With...">
<input type="submit" value="Go">
</center>
</form>
<div class="account">Welcome <%=username%><br>
<form action='settings' method='post'>
<input type="submit" value="Account Settings"></div>
</form><br>
<p style="margin-top:-3%">
<form action="/addfriend" method="post">
	<input type="hidden" name="username" value=<%=username%>>
	<input type="text" name="friend_name" placeholder="Add Friend">
	<input type='submit'><p class='credentials'><%=message1%></p>
</form><br>
</p>
 
 <table style="margin-right:0px;margin-left:auto;" class='table' border='1'>
	<thread>
		<tr>
			<th>Your Friends</th>
		</tr>
	</thread>
	<tbody>
		<%friends.each do |friend|%>
		<tr>
			<td><%=friend["friends"]%></td>
		</tr>
		<%end%>
	</tbody>
</table></div<br>


