<div style="background-color: #66C3AD"><br>
<div class="layout">
<form action="message_home" action="post">
<input type='submit' value='Go Back'>
</form>
<br>

<center class="layout settings">
Manage Friends List<br><br>

<form action="/deletefriendinput" method="post">
	<p class="delete_friend_button_input">
	<input type="text" name="friend_name" placeholder="Enter Name Here..."><br><br>
</form>

<form action="/deletefriend" method="post">
	<p class="delete_friend_button">
	<input type='submit' value="Delete Friend"><%=message1%></p>
</form>

<br>
</center>

<center class="layout settings">
<%=username%>'s account settings<br><br>
<table style="margin-right:0px;margin-left:auto;" class='table' border='1'>
	<thread>
		<tr>
			<th>Conversations</th>
		</tr>
	</thread>
	<tbody>
		<%friends.each do |friend|%>
		<tr>
			<td><%=friend["friends"]%></td>
		</tr>
		<%end%>
	</tbody>
</table>
</center>
</div>

<!-- <center class="layout settings"><br>
Miscellaneous
</center> -->

<center>
<form  class="delete_button" action='delete' method='post'>
<input type="submit" value='Delete Account'>
</center>
</form>
<br></div>