<div style="background-color: #66C3AD"><br>
<div class="layout">
<form action="message_home" action="post">
<input type='submit' value='Go Back'>
</form>
<center class="layout settings">
<%=username%>'s account settings<br><br>
<table style="margin-right:0px;margin-left:auto;" class='table' border='1'>
	<thread>
		<tr>
			<th>Following</th>
			<th>Followers</th>
		</tr>
	</thread>
	<tbody>
		<%friends.each do |friend|%>
		<tr>
			<td><%=friend["following"]%></td>
			<td><%=friend["followers"]%></td>
		</tr>
		<%end%>
	</tbody>
</table>
</center>
</div>
<center>
<form  class="delete_button" action='delete' method='post'>
<input type="submit" value='Delete Account'>
</center>
</form>
<br></div>
